Sources
Tests
Tools
docs
scripts
Resources
Package.swift
README.md
pnpm-lock.yaml
node_modules
out
.webpack
.build
.swiftpm
*.swift
*.py
*.json
!package.json
!apps/**/package.json
!packages/**/package.json
!tsconfig*.json
!.prettierrc.json
